*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    text-align: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 60px;
}
.whatIdo{
    font-weight: 600;
    font-size: 30px;
    color: #4B37B8;
}

.whatIdo span{
    animation: jump .8s infinite;
    position: relative;
}

@keyframes jump{
    0%, 100%{
        top: 0px;
    }
    50%{
        top: -6.5px;
    }
}
.whatIdo span:nth-child(1){
    animation-delay: .1s;
}
.whatIdo span:nth-child(2){
    animation-delay: .2s;
}
.whatIdo span:nth-child(3){
    animation-delay: .3s;
}
.whatIdo span:nth-child(4){
    animation-delay: .4s;
}
.whatIdo span:nth-child(5){
    animation-delay: .5s;
}
.whatIdo span:nth-child(6){
    animation-delay: .6s;
}
.whatIdo span:nth-child(7){
    animation-delay: .7s;
} 

.services{
    background: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.code{
    width: 59px;
    position: relative;
}


.ui{
    width: 80px;
}
.logo{
    width: 80px;
    height: 73px;
}

.codeBG{
    background: linear-gradient(317.45deg, #FF93DA 17.62%, #C275FF 83.37%);
    margin-bottom: 20px;
    cursor: pointer;
}


.uiBG{
    background: linear-gradient(317.45deg, #00FFE0 17.62%, #00B2FF 83.37%);
    margin-bottom: 20px;
    cursor: pointer;
}
.logoBG{
    background: linear-gradient(317.45deg, #FFF0BC 17.62%, #FFC88F 55.58%);
    margin-bottom: 20px;
    cursor: pointer;
}
.codeBG, .uiBG, .logoBG{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;

    z-index: 100;
}
.codeCard, .uiCard, .logoCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cardTxt{
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;

    color: #757575;
}

@media(max-width: 1050px){

}

@media(max-width: 700px){
    .services{
        flex-direction: column;
    }
}

.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 52px;

    color: #000000;
}