*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';

}
html{
    scroll-behavior: smooth;
    
}

.App{
    width: 95vw;
    display: grid;
    place-items: center;
    /* scroll-snap-type: mandatory; */
}
nav{
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    background: #fff;
}
nav ul{
    display: flex;
    padding: 0px 40px;
}
nav ul a {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    color: #8F8F8F;
}
nav .linkedin, .github{
    font-size: 30px;
    list-style: none;
    text-decoration: none;
}
nav .github{
    color: #000;
    margin-right: 20px;
}
nav .linkedin{
    color: #0a66c2;
}
nav .linkedin:visited{
    color: #0a66c2;
}
nav .github:visited{
    color: #000;
}
nav ul a:nth-child(1){
    color: #7562E0;
}