.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
/*  align-items: center; */ 
    height: 100vh;
    margin-top: 80px;
}
.frontEndWork{
    background: #FF93DA;
    border-radius: 5px;
}
.designWork{
    background: none;
}

.illustrationWork{
    margin: 30px;
    /* overflow: hidden; */ 
}

.frontEndWork{
    display: flex;
    flex-direction: row;
    text-align: center;

    width: 300px;
    height: 200px;
    overflow: hidden;
}
.designWork{
    height: 30px;
    width: auto;
    
}

.title{
    font-weight: bold;
}
.desc{
    margin-top: 20px;
    font-size: 1em;
    margin-bottom: 20px;
}
.img{
    width: 100%;
}
.divContainer{
    box-shadow: 0px 0px 20px 10px #e3e6fa;
    margin-right: 20px;
    padding: 16px 16px;
    border-radius: 8px;
    height: 200px;
}
.divIllustration{
    background: none;
    box-shadow: 0px 0px 20px 10px #e3e6fa;
    margin-right: 20px;
    
    border-radius: 8px;
    height: 300px;
}
.imgDesign{
    height: 300px;
    border-radius: 25px;
    height: 400px;
}
.imgDesign:hover{
    transform: scale(1.1);
}
.imgIllustration{
    height: 200px;
}